@import '../../../../styles/colors.module.scss';

.ctaSection{
    background-color: $lightRed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.imgCta{
    width: 20px;
}

.btnNav {
    margin: 0 5px;
    border-color: transparent;
    color: $lightGray;
    transition: 0.5s;
    &:hover{
        border-color: $lightRed;
        color: white;
        background-color: transparent;
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.imgLogoNav{
    width: 180px;
}

@media (max-width: 451px) {
    .nav{
        justify-content: center;
    }

    .btnNav{
        margin: 16px 18px;
        border-color: white;
        font-size: 14px;
    }

    .ctaSection{
        gap: 10px;
    }
}

@media (max-width: 335px) {

    .ctaSection{
        text-align: center;
    }

    .imgCta{
        margin: 0 8px;
    }
}