@import '../../../../styles/colors.module.scss';

.ctaSection{
    background-color: $lightRed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.imgCta{
    width: 20px;
}