@import '../../../styles/colors.module.scss';

.episodeSection {
    display: flex;
    justify-content: space-between;
    border: 1px solid $darkGray;
    margin-bottom: 30px;

    width: 950px;
    height: 227px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        border-color: $lightRed;
    }
}

.episodeDivImg{
    margin-right: 30px;
}
.episodeImg {
    width: 400px;
    height: 100%;
}

.episodeCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 1.5rem 1.5rem 1.5rem;
    color: $mediumGray;
    overflow: hidden;
}

.episodeOrderTime{
    display: flex;
    gap: 1rem;
    margin: 1.5rem auto 1rem 0px;
}



.episodeTitle{
    font-size: 1.2rem;
    font-weight: bold;
    color: $lightGray;
}

.episodeOrder {
    @extend .episodeTitle;

    font-size: 1rem;
}

@media  (max-width: 951px){
    .episodeSection {
        width: 700px;
    }

    .episodeImg {
        width: 350px;
    }
}


@media  (max-width: 700px){
    .episodeImg {
        display: none;
    }

    .episodeDivImg {
        margin: 0px;
    }

    .episodeSection {
        width: 500px;
    }

    .episodeDescription {
        word-break: break-all;
    }
}


@media  (max-width: 500px){
    .episodeSection {
        width: 280px;
    }

    .episodeTitle {
        font-size: 1.2rem;
    }
    
    .episodeOrder {
        font-size: 1rem;
    }

    .episodeDescription {
        word-break: break-all;
    }
}